{% extends "base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
<div class="container">
    <form class="row g-3" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="inpt-field col-12">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", id="inputEmail4", placeholder="Email") }}
        </div>
        <div class="inpt-field col-md-6">
            {{ form.new_password.label(class="form-label") }}
            {{ form.new_password(class="form-control", id="inputNewPassword", placeholder="New Password") }}
        </div>
        <div class="inpt-field col-md-6">
            {{ form.new_password_confirm.label(class="form-label") }}
            {{ form.new_password_confirm(class="form-control", id="inputNewPasswordConfirm", placeholder="Confirm New Password") }}
        </div>
        <div class="inpt-field col-12 d-flex justify-content-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}