.product-container {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.product-container img {
    display: flex;
    width: 100%;
    max-width: 550px;
    max-height: 370px;
    border-radius: 10px;
}

.product-content {
    width: 100%;
    margin: 0 25px;
}

.product-price {
    font-size: 1.2rem;
}

.buy-product {
    display: flex;
}

.buy-product button:first-child {
    margin-right: 20px;
}

.buy-product button {
    width: 100%;
}

.back-link {
    margin: 10px 0;
    text-align: center;
}

/* Carousel Items */
.products-items-container {
    margin: 26px 0;
}

.carousel {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
}

.carousel-card img {
    max-width: 150px;
    border-radius: 10px;
}

.carousel .owl-stage {
    display: flex;
}

.carousel .owl-nav {
    display: none;
}

@media screen and (max-width: 968px) {
    .product-container {
        position: relative;
        flex-wrap: wrap;
    }

    .product-container img {
        max-width: none;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .category-link {
        position: absolute;
        left: 20px;
        top: 0;
    }
}