.top-search-category {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.top-search-category {
    display: flex;
    flex-wrap: wrap;
}

.top-search-category form {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 25px;
}

.card-img-top {
    width: 100%;
    height: 280px;
    object-fit: cover;
}