{% extends "base.html" %}

{% block csslinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/cart.css') }}">
{% endblock %}

{% block title %}
Cart
{% endblock %}

{% block content %}
<div class="cart-container d-flex">
    <div class="shopping-cart w-100">
        <h3>Shopping Cart</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>PRODUCT DETAILS</th>
                    <th>QUANTITY</th>
                    <th>PRICE</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="order-summary">
        <div class="order-summary-header">
            <h4>ORDER SUMMARY</h4>
        </div>
        <div class="order-summary-body">
            <p>ITEMS<span id="total-items"></span></p>
            <p>QUANTITIES<span id="total-quantities"></span></p>
        </div>
        <div class="order-summary-footer">
            <p>TOTAL COST<span id="total-cost">$100</span></p>
            <button class="btn btn-primary w-100" onclick="buyByCart()">BUY</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/buyByCart.js') }}"></script>
<script>
    String.prototype.toTitle = function() {
        return this.replace(/(^|\s)\S/g, function(t) { return t.toUpperCase() });
    }

    function displayCartContent() {
        const cartStorage = JSON.parse(localStorage.getItem("cartStorage"));
        const tbodyTable = document.querySelector("table tbody");
        const cartStorageObj = Object.keys(cartStorage);

        const totalItemsEl = document.getElementById("total-items");
        const totalQuantitiesEl = document.getElementById("total-quantities");
        const totalCostEl = document.getElementById("total-cost");

        let total = 0;
        let quantities = 0;

        for (let i = 0; i < cartStorageObj.length; i++) {
            const productId = cartStorage[cartStorageObj[i]]["id"];
            const productName = cartStorage[cartStorageObj[i]]["name"].toTitle();
            const productImage = cartStorage[cartStorageObj[i]]["image"];
            const productCategory = cartStorage[cartStorageObj[i]]["category"].toTitle();
            const productCode = cartStorage[cartStorageObj[i]]["id"];
            const productPrice = cartStorage[cartStorageObj[i]]["price"];
            const productQuantity = cartStorage[cartStorageObj[i]]["quantity"];

            let productTotal = calcProductTotal(productPrice, productQuantity);
            total += productTotal;
            quantities += productQuantity;

            tbodyTable.innerHTML += `
            <tr>
                <td class="product-details">
                    <img src="/static/${productImage}" alt="${productName}">
                    <div class="pd-row">
                        <h5>${productName}<button onclick="removeCartItem(${productId})"><i class="far fa-trash-alt text-danger"></i></button></h5>
                        <p><span class="text-muted">Category: </span>${productCategory}</p>
                        <p><span class="text-muted">Product Code: </span>${productCode}</p>
                    </div>
                </td>
                <td>
                    <input type="number" name="quantity" id="quantity" min="1" max="100" value=${productQuantity} onchange="changeQuantity(${productId}, value);">
                </td>
                <td class="text-success">$${productPrice}</td>
                <td class="text-success" id="product-total-${productId}">$${productTotal}</td>
            </tr>
            `;
        }

        totalItemsEl.innerText = `${cartStorageObj.length}`;
        totalQuantitiesEl.innerText = `${quantities}`;
        totalCostEl.innerText = `$${total}`;
    }

    function calcProductTotal(price, quantity) {
        return price * quantity;
    }

    function changeQuantity(id, value, cls) {
        const cartStorage = JSON.parse(localStorage.getItem("cartStorage"));
        cartStorage[id].quantity = parseInt(value);
        localStorage.setItem("cartStorage", JSON.stringify(cartStorage));

        let qntSum = () => {
            let c = 0;
            for (let i = 0; i < Object.keys(cartStorage).length; i++) {
                c += cartStorage[Object.keys(cartStorage)[i]].quantity;
            }
            return c;
        }

        let totSum = () => {
            let c = 0;
            for (let i = 0; i < Object.keys(cartStorage).length; i++) {
                c += cartStorage[Object.keys(cartStorage)[i]].price * cartStorage[Object.keys(cartStorage)[i]].quantity;
            }
            return c;
        }

        let total = calcProductTotal(cartStorage[id].price, cartStorage[id].quantity);

        const productTotalEl = document.getElementById(`product-total-${cartStorage[id].id}`);
        const totalQuantEl = document.getElementById("total-quantities");
        const totalCostEl = document.getElementById("total-cost");

        productTotalEl.innerText = `$${total}`;
        totalQuantEl.innerText = qntSum();
        totalCostEl.innerText = `$${totSum()}`;
    }

    function removeCartItem(id) {
        const cartStorage = JSON.parse(localStorage.getItem("cartStorage"));
        delete cartStorage[id];
        localStorage.setItem("cartStorage", JSON.stringify(cartStorage));
        window.location.reload();
    }

    document.addEventListener("DOMContentLoaded", () => {
        displayCartContent();
        const shoppingCartContainerEl = document.querySelector(".shopping-cart");
        const tbodyTableCount = document.querySelector("table tbody").childElementCount;
        if (!tbodyTableCount > 0) {
            shoppingCartContainerEl.innerHTML = `
            <div class="alert alert-warning text-center" role="alert" style="margin: 0 32px 10px 32px">
                The cart not have products
            </div>
            `;
        }
    });
</script>
{% endblock %}