{% extends "base.html" %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="container">
    <img src="" alt="">
    <div class="product-content">
        <h3>{{ product.name }}</h3>
        <span>{{ product.price }}</span>
        <p>{{ product.description }}</p>
        <div class="buy-product">
            <button type="button" class="btn btn-primary">Buy</button>
            <button type="button" class="btn btn-light">Add to cart</button>
        </div>
    </div>
</div>
{% endblock %}