{% extends "base.html" %}

{% block csslinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/profile.css') }}">
{% endblock %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<div class="container d-flex">
    <div class="col profile-img">
        <img src="{{ current_user.image }}" alt="user image">
        <span>{{ current_user.username }}</span>
    </div>
    <div class="col profile-content">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="tab-link-profile" class="nav-link active" aria-current="page" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a id="tab-link-adresses" class="nav-link" href="#">Adresses</a>
            </li>
        </ul>
        <div id="user-form" class="user-form">
            <form class="row g-3" method="POST">
                {{ profile_form.hidden_tag() }}
                <div class="inpt-field col-12">
                    {{ profile_form.username.label(class="form-label") }}
                    {{ profile_form.username(class="form-control", id="inputUsername", placeholder="Username", value=current_user.username, readonly="true", disabled="true") }}
                </div>
                <div class="inpt-field col-md-8">
                    {{ profile_form.email.label(class="form-label") }}
                    {{ profile_form.email(class="form-control", id="inputEmail", placeholder="Email", value=current_user.email, readonly="true", disabled="true") }}
                </div>
                <div class="inpt-field col-md-4">
                    {{ profile_form.phone.label(class="form-label") }}
                    {% if current_user.phone != None %}
                        {{ profile_form.phone(class="form-control", id="inputPhone", placeholder="Phone", value=current_user.phone, readonly="true", disabled="true") }}
                    {% else %}
                        {{ profile_form.phone(class="form-control", id="inputPhone", placeholder="Phone", readonly="true", disabled="true") }}
                    {% endif %}
                </div>
                <div class="inpt-field col-12">
                    {{ profile_form.gender.label() }}
                    <ul class="radio-list">
                        {% for radio in profile_form.gender %}
                        <li>
                            {% if current_user.gender.lower() == radio.data %}
                                {{ radio(checked="true", disabled="true") }}
                            {% else %}
                                {{ radio(disabled="true") }}
                            {% endif %}
                            {{ radio.label() }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="border-top my-3" style="width: 100%;"></div>
                <div class="inpt-field col-md-12">
                    {{ profile_form.current_password.label(class="form-label") }}
                    {{ profile_form.current_password(class="form-control", id="inputCurrentPassword", placeholder="Current Password", readonly="true", disabled="true") }}
                </div>
                <div class="inpt-field col-md-6">
                    {{ profile_form.password_new.label(class="form-label") }}
                    {{ profile_form.password_new(class="form-control", id="inputOldPassword", placeholder="Password", readonly="true", disabled="true") }}
                </div>
                <div class="inpt-field col-md-6">
                    {{ profile_form.password_confirm.label(class="form-label") }}
                    {{ profile_form.password_confirm(class="form-control", id="inputOldConfirmPassword", placeholder="Confirm Password", readonly="true", disabled="true") }}
                </div>
                <div class="border-top my-3" style="width: 100%;"></div>
                <div class="col-md-12" id="submit-field" style="text-align: right; display: none;">
                    {{ profile_form.submit(class="btn btn-primary") }}
                    <button type="button" id="cancel-edit" class="btn btn-danger">Cancel</button>
                </div>
            </form>
            <button class="btn btn-primary" id="edit-user" style="float: right;">Edit</button>
        </div>
        <div id="address-form" class="address-form" style="display: none;">
            <form class="row g-3" method="POST">
                {{ profile_form.hidden_tag() }}
                <div class="inpt-field col-12">
                    {{ address_form.cep.label(class="form-label") }}
                    {{ address_form.cep(class="form-control", id="inputCep", placeholder="CEP") }}
                </div>
                <div class="inpt-field col-md-8">
                    {{ address_form.street.label(class="form-label") }}
                    {{ address_form.street(class="form-control", id="inputStreet", placeholder="Street") }}
                </div>
                <div class="inpt-field col-md-4">
                    {{ address_form.number.label(class="form-label") }}
                    {{ address_form.number(class="form-control", id="inputNumber", placeholder="Number") }}
                </div>
                <div class="inpt-field col-md-12">
                    {{ address_form.city.label(class="form-label") }}
                    {{ address_form.city(class="form-control", id="inputNumber", placeholder="City") }}
                </div>
                <div class="inpt-field col-md-12">
                    {{ address_form.complement.label(class="form-label") }}
                    {{ address_form.complement(class="form-control", id="inputComplement", placeholder="Complement") }}
                </div>
                <div class="border-top my-3" style="width: 100%;"></div>
                <div class="col-md-12" id="submit-field" style="text-align: right">
                    {{ address_form.submit(class="btn btn-primary") }}
                </div>
            </form>
            <div class="border-top my-3" style="width: 100%;"></div>


            <div class="adresses-owners">

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}