{% extends "base.html" %}

{% block csslinks %}
<style>
    .historic-container {
        max-height: 80vh;
        overflow: auto;
    }
</style>
{% endblock %}

{% block title %}
Purchases
{% endblock %}

{% block content %}
<div class="container">
    <h2 style="margin: 20px 0;">Purchases historic</h2>
    <div class="historic-container">
        {% if purchases %}
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
            {% for (detail, product, date) in purchases %}
            <tr>
                <th scope="row">{{ detail.id }}</th>
                <td>{{ product.name.title() }}</td>
                <td>{{ detail.quantity }}</td>
                <td>${{ detail.unit_price }}</td>
                <td>{{ date }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning text-center" role="alert">
            You didn't buy any product
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}